 <p id="error-message"></p>
 <div class="super-container">
        <div class="container">
            <div class="login-box">
                <h2 class="login-title">Restart Password?</h2>
            
                <form id="restartPasswordForm" class="login-form">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email"  name="email" class="form-input" required>

                    <label for="name" class="form-label">new Password:</label>
                    <input type="password"  name="password" class="form-input" required>

                    <button type="submit" class="login-btn">Restart Password</button>
                </form>

             
            </div>
        </div>
    </div>

    <script src="/js/restartPassword.js"></script>