
        
        <div class="success-message">
            <h1>Congratulations {{user}}, your purchase was successful!</h1>
            <p class="email-sent">An email with more details about your purchase has been sent.</p>
        </div> 
        
        
       

